@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: theme('colors.green.50');
    --foreground: theme('colors.gray.950');
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: theme('colors.gray.950');
        --foreground: theme('colors.green.50');
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
